<link href="{$interface->baseUrl}/css/swfupload.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{$interface->baseUrl}/js/swfupload.js"></script>
<script type="text/javascript" src="{$interface->baseUrl}/js/swfupload.queue.js"></script>
<script type="text/javascript" src="{$interface->baseUrl}/js/fileprogress.js"></script>
<script type="text/javascript" src="{$interface->baseUrl}/js/jquery.swfupload.js"></script>
<script type="text/javascript" src="{$interface->baseUrl}/js/handlers.js"></script>
<script type="text/javaScript" src="{$interface->baseUrl}/js/MultipleFileUpload.js"></script>
