<script type="text/javascript" src="{$interface->baseUrl}/js/jquery.uploadify-3.1.min.js"></script>
<script type="text/javascript" src="{$interface->baseUrl}/js/MultipleFileUpload.js"></script>

<link rel="stylesheet" media="screen,projection,tv" href="{$interface->baseUrl}/css/uploadify.css" type="text/css">