<script type="text/javascript" src="{$baseModulePath}/js/MFUFallbackController.js"></script>

<script type="text/javascript" src="{$baseModulePath}/js/uploadify/jquery.uploadify-3.1.min.js"></script>
<script type="text/javascript" src="{$baseModulePath}/js/uploadify/MultipleFileUpload.js"></script>

<link rel="stylesheet" media="screen,projection,tv" href="{$baseModulePath}/css/uploadify.css" type="text/css">